* {
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #111827;
    background-color: #F5F3EF;
    line-height: 1.5;
}

html, body {
    height: 100%;
    min-width: 320px;
    overflow-x: hidden;
}

main {
    background-color: #F5F3EF;
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.cliente {
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.cliente_filtro {
    padding: 5px;
    display:flex;
    align-items: left;
    vertical-align: middle ;
    width: auto;
    white-space: nowrap;
    gap: 10px;
    margin-bottom: 20px;
}

#procurar_cli{
    width: 250px;
}

.tabela_titulo {
  font-weight: bold;
  padding: 8px;
  text-align: center;
  top: 0;
  z-index: 2;
  border: 1px solid #E5E7EB;
  border-radius: 20px 20px 0px 0px;
}

.tabela_cliente {
    max-height: 500px; /* ajuste conforme seu layout */
    overflow-y: auto;
    display: block;    
}

.tabela {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.tabela th, .tabela td {
    color: #111827;
    border: 1px solid #E5E7EB;
    padding: 1px;
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
    height: 10px;
}

.tabela th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #F0EAE4;
}

.tabela td{
    background-color: #FFFFFF;
}

.tabela tr:nth-child(even) {
    background-color: #F5F3EF;
}

.tabela tr:hover {
  background-color: #6f624994;
}

.procedimento{
    width: 100%;
}

.procedimento_formulario{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 10px;
}

.procedimento_container{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    max-height: 550px;
}

.procedimento_caixa { /* Caixa dos procedimentos + checkboxs*/
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;  
    vertical-align: left;
    flex: 1;
    width: 100%;
}

.procedimento_botoes {
    display: flex;
    flex-wrap: wrap; /* ESSENCIAL para quebrar linha */
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    height: 60px;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

input[type="checkbox"] {
    transform: scale(2);
    margin: 0px 20px 0px 10px; /* Espaço entre a caixa e o texto */
}

input[type="submit"], input[type="reset"] {
    width: 150px;
    height: 40px;
    font-size: 12px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #E5E7EB;
    margin: 2px;
}

input[type="submit"] {
    background-color: #3B82F6;
    color: white;
}

input[type="reset"] {
    background-color: #c9ba9fc2 ;
    color: white;
    border: 1px solid #E5E7EB; ;
}
